<!DOCTYPE html>
<html ng-app="rmcf">
<head>
	<title>REYES DE EUROPA</title>
	<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="./scripts/app.js" type="text/javascript"></script>

</head>
<body ng-controller="alineacion">
			<div >
						<h1>{{title}}</h1>
						  <select name="show-filter" ng-model="finalFilter" size="1" ng-options="final.copa for final in finales">
						  	<option ng-repeat="final in finales">{{final.copa}}</option>
						  </select>
						  
						  		<p>{{finalFilter.datos.arbitro}}</p>					  
			</div>
	<div class="row">
		<alineacion1></alineacion1>
		<alineacion2></alineacion2>
	
		
	</div>
</body>
</html>