<table class="col-md-6 equipo2 counter">
			<tbody>	
				<tr>
					<td class="ancho">{{finalFilter.equipos[1].del4}}</td><td class="ancho">{{finalFilter.equipos[1].del2}}</td><td class="ancho">{{finalFilter.equipos[1].dc}}</td><td class="ancho">{{finalFilter.equipos[1].del1}}</td><td class="ancho">{{finalFilter.equipos[1].del5}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[1].ei}}</td><td class="ancho">{{finalFilter.equipos[1].sd2}}</td><td class="ancho">{{finalFilter.equipos[1].mp}}</td><td class="ancho">{{finalFilter.equipos[1].sd1}}</td><td class="ancho">{{finalFilter.equipos[1].ed}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[1].ini}}</td><td class="ancho">{{finalFilter.equipos[1].mc2}}</td><td class="ancho">{{finalFilter.equipos[1].mcd}}</td><td class="ancho">{{finalFilter.equipos[1].mc1}}</td><td class="ancho">{{finalFilter.equipos[1].ind}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[1].li}}</td><td class="ancho">{{finalFilter.equipos[1].ci}}</td><td class="ancho">{{finalFilter.equipos[1].lib}}</td><td class="ancho">{{finalFilter.equipos[1].cd}}</td><td class="ancho">{{finalFilter.equipos[1].ld}}</td>
				</tr>
				<tr>
					<td class="ancho"></td><td class="ancho"></td><td class="ancho">{{finalFilter.equipos[1].por}}</td><td class="ancho"></td><td class="ancho"></td>
				</tr>
			</tbody>
		</table>
