<table class="col-md-6 equipo1 rmcf">
			<tbody>	
				<tr>
					<td class="ancho">{{finalFilter.equipos[0].del4}}</td><td class="ancho">{{finalFilter.equipos[0].del2}}</td><td class="ancho">{{finalFilter.equipos[0].dc}}</td><td class="ancho">{{finalFilter.equipos[0].del1}}</td><td class="ancho">{{finalFilter.equipos[0].del5}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[0].ei}}</td><td class="ancho">{{finalFilter.equipos[0].sd2}}</td><td class="ancho">{{finalFilter.equipos[0].mp}}</td><td class="ancho">{{finalFilter.equipos[0].sd1}}</td><td class="ancho">{{finalFilter.equipos[0].ed}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[0].ini}}</td><td class="ancho">{{finalFilter.equipos[0].mc2}}</td><td class="ancho">{{finalFilter.equipos[0].mcd}}</td><td class="ancho">{{finalFilter.equipos[0].mc1}}</td><td class="ancho">{{finalFilter.equipos[0].ind}}</td>
				</tr>
				<tr>
					<td class="ancho">{{finalFilter.equipos[0].li}}</td><td class="ancho">{{finalFilter.equipos[0].ci}}</td><td class="ancho">{{finalFilter.equipos[0].lib}}</td><td class="ancho">{{finalFilter.equipos[0].cd}}</td><td class="ancho">{{finalFilter.equipos[0].ld}}</td>
				</tr>
				<tr>
					<td class="ancho"></td><td class="ancho"></td><td class="ancho">{{finalFilter.equipos[0].por}}</td><td class="ancho"></td><td class="ancho"></td>
				</tr>
			</tbody>
		</table>
