<div class="col-md-4 col-md-offset-1 entrenadorMCF">
			<p>{{finalFilter.entrena}}{{finalFilter.equipos[0].entrenador}}</p>
			<p>{{finalFilter.capi}}{{finalFilter.equipos[0].capitan}}</p>
</div>
		<div class="col-md-2 maxgol">
			<p>{{finalFilter.datos.maxg}}<p>
				<ul class="list-unstyled">
					<li>{{finalFilter.datos.maxgoleador.nombre}}</li>
					<li>{{finalFilter.datos.maxgoleador.equipo}}</li>
					<li>{{finalFilter.datos.maxgoleador.goles}}</li>
				</ul>
		</div>
				<div class="col-md-4 entrenadorC">
					<p>{{finalFilter.entrena}}{{finalFilter.equipos[1].entrenador}}</p>
					<p>{{finalFilter.capi}}{{finalFilter.equipos[1].capitan}}</p>
				</div>