<div class="col-md-4 col-md-offset-4">
			<table class="table table-bordered table-hover estadistica">
				<tbody>
					<tr><td colspan="2">{{finalFilter.datos.estadis}}</td></tr>
					<tr>
						<td>{{finalFilter.datos.participa}}</td>
						<td>{{finalFilter.datos.participantes}}</td>
					</tr>
					<tr>
						<td>{{finalFilter.datos.par}}</td>
						<td>{{finalFilter.datos.partidos}}</td>
					</tr>
					<tr>
						<td>{{finalFilter.datos.gol}}</td>
						<td>{{finalFilter.datos.goles}}</td>
					</tr>
				</tbody>
			</table>

</div>